body {
    margin: 0%;
}

/*navbar*/
.nav-container {
    position: sticky;
    z-index: 3;
    top: 0%;
}
.navbar { 
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: darkslategrey;
}
.navbar-logo {
    justify-self: start;
    margin-left: 20px;
    color: beige;
    margin-top: 4vh;
    cursor: pointer;
}
.ver-carrito {
    font-size: 25px;
    margin-right: 20px;
    margin-top: 3.5vh;
    cursor: pointer;
}
/*banner styles*/
.banner { 
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: url(./image/shopi.jpg);
}
.banner-container { 
    text-align: center;
    padding: 15% 0;
}
.banner p {
    font-size: 60px;
    color: black;
    opacity: 0.7;
    text-shadow: 1px 1px 3px;
}
.banner h1 { 
    font-size: 60px;
    color: white;
    opacity: 0.7;
    text-shadow: 1px 1px 3px;
}

/*product-cards*/
.shop-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-right: 80px;
    margin-left: 80px;
}
.card > img {
    width: 80%;
    height: 50%;
}
.price {
    color: darkorange;
    font-size: 22px;
}
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.card button:hover {
    opacity: 0.7;
}
.modal-container { 
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: #fff;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}
.modal-container::-webkit-scrollbar {
    display: none;
}
.modal-header {
    display: flex;
    justify-content: space-around;
    background-color: burlywood;
    color: #fff;
    width: 100%;
}
.modal-header-title {
    justify-self: start;
}
.modal-header-button {
    cursor: pointer;
}

.modal-container > .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.modal-container > div > img {
    height: 120px;
    width: 120px;
}

.total-content {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}

/*delete button product*/
.delete-product {
    cursor: pointer;
}
/*carritoCounter*/
.cantidad-carrito { 
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    padding: 4px;
    top: 37px;
    right: 14px;
    position: absolute;
    display: none;
}
